<section id="aa-service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-service-area">
                    <div class="aa-title">

                        <h2>Our Service</h2>

                        <span></span>

                        <p>What we offer!</p>
                    </div>
                    <div class="aa-service-content">
                        <div class="row" *ngFor="let service of services">
                            <div class="col-md-3">
                                <div class="aa-single-service">
                                    <div class="aa-service-icon">
                                        <span class="fa fa-home"></span>
                                    </div>
                                    <div  class="aa-single-service-content">
                                        <h4>{{service.n1}}</h4>
                                        <p>{{service.definition1}}</p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="aa-single-service">
                                    <div class="aa-service-icon">
                                        <span class="fa fa-check"></span>
                                    </div>

                                    <div class="aa-single-service-content">
                                        <h4>{{service.n2}}</h4>
                                        <p>{{service.definition2}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="aa-single-service">
                                    <div class="aa-service-icon">
                                        <span class="fa fa-crosshairs"></span>
                                    </div>
                                    <div class="aa-single-service-content">
                                        <h4>{{service.n3}}</h4>
                                        <p>{{service.definition3}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="aa-single-service">
                                    <div class="aa-service-icon">
                                        <span class="fa fa-bar-chart-o"></span>
                                    </div>
                                    <div class="aa-single-service-content">
                                        <h4>{{service.n4}}</h4>
                                        <p>{{service.definition4}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>