<app-first-header></app-first-header>
<app-menu-area></app-menu-area>
<section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>Contact</h2>
            <ol class="breadcrumb">
              <li><a routerLink="/">HOME</a></li>
              <li class="active">CONTACT</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="aa-contact" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-contact-area">
            <div class="aa-contact-top">
              <div class="aa-contact-top-left " >
              <!-- <Map
              // location={contact.address}
              // onChange={latlng => {
              //   console.log(latlng);
              //   setOrder({ ...order, address: latlng });
              // }}
              /> -->
              </div>
          
                <div class="aa-contact-top-right">
                  <h2>Contact</h2>
                  <p>Welcome to Msell Real Estate, your trusted partner in the world of real estate in Plovdiv, Bulgaria. With a strong presence in the local real estate market, we have built a reputation for excellence and reliability.
                    If you have any questions please do not hesitate to contact us.
                  </p>
                  <ul class="contact-info-list">
                    <li> <i class="fa fa-phone" ></i> +359 877 123 123</li>
                    <li> <i class="fa fa-envelope-o"></i>msell&#64;gmail.com</li> 
                    <li> <i class="fa fa-map-marker" ></i> 4000 Plovdiv 159 Osvobozhdenie Blvd</li>
                  </ul>
                </div>
              
            </div>
            <div class="aa-contact-bottom">
              <div class="aa-title">
                <h2>Send Your Message</h2>
                <span></span>
                <p>Your email address will not be published. Required fields are marked <strong class="required">*</strong></p>
              </div>
              <div class="aa-contact-form" >
                <form class="contactform">
                  <p class="comment-form-author">
                    <label for="author">Name <span class="required">*</span></label>
                    <input type="text" name="author" required="required" />
                  </p>
                  <p class="comment-form-email">
                    <label for="email">Email <span class="required">*</span></label>
                    <input type="email" name="email" required="required" />
                  </p>
                  <p class="comment-form-url">
                    <label for="subject">Subject</label>
                    <input type="text" name="subject" />
                  </p>
                  <p class="comment-form-comment">
                    <label for="comment">Message</label>
                    <textarea name="comment" required="required"></textarea>
                  </p>
                  <p class="form-submit">
                    <input type="submit" name="submit" class="aa-browse-btn" value="Send Message" />
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>

