<header id="aa-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-header-area">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-left">
                  <div class="aa-telephone-no">
                    <span class="fa fa-phone"></span> 
                    <span> +359 877 123 321</span>
                  </div>
                  <div class="aa-email hidden-xs">
                    <span class="fa fa-envelope-o"></span>
                    <span>msell&#64;gmail.com</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-right">
                      <a routerLink="/register" class="aa-register">Register</a>
                      <a routerLink="/login"class="aa-login">Login</a>
                  

            
                   
                      <span ></span>

                      <a routerLink="/logout"  class="aa-logout">Logout</a>
                 
                

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
