#aa-promo-banner {
    background-image: url("../../../assets/img/promo-banner.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    display: inline;
    float: left;
    width: 100%;
    padding: 100px 0;
    position: relative;
  }
  #aa-promo-banner:before {
    background-color: rgba(0, 0, 0, 0.6);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  #aa-promo-banner .aa-promo-banner-area {
    display: inline;
    float: left;
    width: 100%;
    padding: 0 150px;
    text-align: center;
  }
  #aa-promo-banner .aa-promo-banner-area h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  #aa-promo-banner .aa-promo-banner-area p {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
  }
  #aa-promo-banner .aa-promo-banner-area a {
    font-weight: bold;
    margin-top: 50px;
    text-transform: uppercase;
  }