<section id="aa-promo-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-promo-banner-area">
                    <h3>Find Your Best Property</h3>
                    <p>Take a look at our offers and don't hesitate to contact us if you have any questions.</p>
                    <div>
                        <p> <a routerLink="/properties" class="aa-view-btn"> View Details</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
