
.aa-properties-details {
    display: inline;
    float: left;
    width: 100%;
  }
  .aa-properties-details .aa-properties-details-img {
    display: inline;
    float: left;
    width: 100%;
  }
  .aa-properties-details .aa-properties-details-img img {
    height: 500px;
    width: 100%;
  }
  .aa-properties-details .aa-properties-details-img .slick-prev, .aa-properties-details .aa-properties-details-img .slick-next {
    height: 50px;
    top: 47%;
    width: 50px;
  }
  .aa-properties-details .aa-properties-info {
    display: inline;
    float: left;
    width: 100%;
  }
  .aa-properties-details .aa-properties-info h2 {
    margin-top: 20px;
  }
  .aa-properties-details .aa-properties-info .aa-price {
    color: #000;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .aa-properties-details .aa-properties-info h4 {
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 20px;
  }
  .aa-properties-details .aa-properties-info ul {
    margin-left: 20px;
  }
  .aa-properties-details .aa-properties-info ul li {
    margin-bottom: 10px;
  }
  .aa-properties-details .aa-properties-info ul li:before {
    content: '\f046';
    font-family: fontAwesome;
    left: 0;
    top: 0;
    margin-right: 10px;
  }
  .aa-properties-details .aa-properties-info iframe {
    margin-top: 15px;
  }
  .aa-properties-details .aa-nearby-properties {
    display: inline;
    float: left;
    margin-top: 50px;
    width: 100%;
  }
  .aa-properties-details .aa-nearby-properties .aa-nearby-properties-area {
    display: inline;
    float: left;
    width: 100%;
  }
  
  .aa-properties-social {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    display: inline;
    float: left;
    margin-top: 50px;
    padding: 20px 0;
    width: 100%;
  }
  .aa-properties-social ul {
    display: inline;
  }
  .aa-properties-social ul li {
    display: inline;
  }
  .aa-properties-social ul li:first-child {
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 31px;
    margin-right: 10px;
    text-transform: uppercase;
  }
  .aa-properties-social ul li a {
    border: 1px solid #ccc;
    color: #555;
    display: inline-block;
    margin-left: 10px;
    padding: 5px;
    text-align: center;
    width: 35px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .buttons {
    height: 10%;
    text-align: right;
    padding-right: 17px;
    padding-bottom: 35px;
  }
  .button {
    height: 10%;
    background-color: #59abe3;
    padding: 8px;
    margin-top: auto;
    font-size: 16px;
    color: rgb(255, 255, 255);
  }
  .button:hover {
    background-color: #347097;
    color: white;
  }
  
  
  .create-comment>.form>textarea {
  
    width: 600px;
    height: 100px;
    margin-top: 22px;
    margin-bottom: 28px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 5px;
    background-color: rgb(193, 225, 247);
  }
  
  .details-comments {
    display: table-cell;
  
  }
  
  .create-comment {
    margin-top: 60px;
    position: relative;
    text-align: center;
    width: 700px;
    height: auto;
  
    padding: 40px;
  
   
    
  }
  
  .create-comment>label {
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: 800;
    line-height: normal;
    color:#000;
  }
  
  .info-section>.details-comments li {
    width: 400px;
    display: inline-block;
    position: static;
    margin: 20px auto 25px auto;
    
  
    margin-left: 60px;
  
    color: white;
  }
  .details-comments h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .comment p {
    padding: 16px;
    margin-left: 130px;
    margin-right: 130px;
    width: 100%;
    background-color: rgb(193, 225, 247);
  }
  
  
  .create-comment>.button:hover {
  
    color: white;
    cursor: pointer;
  }
  