<app-first-header></app-first-header>
<app-menu-area></app-menu-area>
<section id="aa-property-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2>Properties Details</h2>
                    <ol class="breadcrumb">
                        <li><a routerLink="/properties">Properties</a></li>
                        <li class="active">{{properties.property_type}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="aa-properties" >
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="aa-properties-content">
                   
                    <div   class="aa-properties-details">
                        <div class="aa-properties-details-img">
                            <img [src]="properties.imgProperty" />
                        </div>
                        <div class="aa-properties-info">
                            <h2>{{properties.property_type}}</h2>
                            <span class="aa-price">${{properties.price}}</span>
                            <p>City: {{properties.city}}</p>
                            <p>Bedrooms: {{properties.bedrooms}}</p>
                            <p>Bathrooms:{{properties.bathrooms}}</p>
                            <p>Square Meters: {{properties.square_meters}}</p>
                            <p>Year Built: {{properties.year_built}}</p>
                            <p>Description: {{properties.description}} </p>
                        </div>
                       
                        <div class="aa-properties-social">
                            <ul>
                                <li>Share</li>
                                <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.google.com/account/about/?hl=bg"><i class="fa fa-google-plus" ></i></a></li>
                                <li><a href="https://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="col-md-4">
                <aside class="aa-properties-sidebar">
                    <!-- <LatestProperty /> -->
                </aside>
            </div>
        </div>
    </div>
    <div>
       
            <!-- <div class="butrouterLinkns">
                <a routerLink="/properties/{{properties.id}}/edit" class="butrouterLinkn">Edit</a>
                <button class="butrouterLinkn">Delete</button>
            </div>
         -->


        <!-- <div class="details-comments">
            <h2>Comments:</h2>
            <ul>
               
                        <li class="comment">
                        <p>username: text</p>
                    </li>
                   
            </ul>

      
                <p class="no-comment">No comments.</p>
        
        </div>
     
            <div class="create-comment" >
                <label>Add new comment:</label>
                <form class="form">
                    <textarea name="comment" placeholder="Comment......"></textarea>
                    <input class="btn submit" type="submit" value="Add Comment"/>
                </form>
            </div>
         -->
    </div>
</section>
<app-footer></app-footer>

