<ul class="aa-properties-nav"  >
   
        <li class="aa-properties-item">
      
          <article *ngFor="let property of properties" class="aa-properties-item" >
            <div class="aa-properties-item-img" >
              <img alt="img" [src]="property.imgProperty"/>
            </div>
  
            <div class="aa-tag ">
              {{property.status}}
            </div>
  
            <div  class="aa-properties-item-content" >
              <div  class="aa-properties-info">
                <span> {{property.bedrooms}} Beds</span>
                <span>{{property.bathrooms}} Baths</span>
                <span>{{property.square_meters}}  SQ FT</span>
              </div>
              <div class="aa-properties-about">
                <h3><a routerLink='/properties/id'></a></h3>
                <p>{{property.description}}</p>
              </div>
              <div class="aa-properties-detial">
                <span class="aa-price">
                {{property.price}}
                </span>
                <a class="aa-secondary-btn" routerLink='/properties/{{property._id}}'>View Details</a>
              </div>
            </div>
          </article>
  
        </li>
   
  
    </ul>
    
