<section id="aa-service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-service-area">
                    <div class="aa-title">

                        <h2>Our Service</h2>

                        <span></span>

                        <p>What we offer!</p>
                    </div>
                    <div class="aa-service-content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="aa-single-service">
                                    <div class="aa-service-icon">
                                        <span class="fa fa-home"></span>
                                    </div>


                                    <div class="aa-single-service-content">
                                        <h4>Residential Sales and Rentals</h4>
                                        <p>This service involves helping clients buy, sell, or rent residential
                                            properties such as houses, apartments, and condominiums. We assist in
                                            finding the right residential property to meet your needs, whether you're
                                            looking to buy, sell, or rent a home.</p>
                                    </div>



                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="aa-single-service">
                                    <div class="aa-service-icon">
                                        <span class="fa fa-check"></span>
                                    </div>

                                    <div class="aa-single-service-content">
                                        <h4>Commercial Real Estate</h4>
                                        <p>Our commercial real estate service specializes in buying, selling, or leasing
                                            commercial properties, including office spaces, retail spaces, and
                                            industrial properties. We assist businesses in finding the right commercial
                                            space to meet their operational needs.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="aa-single-service">
                                    <div class="aa-service-icon">
                                        <span class="fa fa-crosshairs"></span>
                                    </div>
                                    <div class="aa-single-service-content">
                                        <h4>Investment Properties</h4>
                                        <p>We offer guidance and assistance in acquiring and managing investment
                                            properties, such as rental properties, vacation homes, and real estate
                                            investments. Our expertise helps clients make informed decisions for
                                            profitable real estate investments.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="aa-single-service">
                                    <div class="aa-service-icon">
                                        <span class="fa fa-bar-chart-o"></span>
                                    </div>
                                    <div class="aa-single-service-content">
                                        <h4>Property Management</h4>
                                        <p>Property management services involve the day-to-day operation, maintenance,
                                            and oversight of rental properties on behalf of property owners. We handle
                                            tasks such as tenant screening, rent collection, maintenance, and property
                                            upkeep to ensure hassle-free property ownership.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>