<section id="create">
    <div class="container">
        <div class="row" >
            <div class="col-md-12">
                <div class="createArea">
                    <div class="createForm">
                        <div class="formTitle">
                            <a class="createHome" routerLink="/properties">Property</a>
                            <h4>Create property</h4>
                        </div>
                        <form class="createform" >
                            <div class="propertyTypeField">
                                <label>Property Type </label>
                                <input 
                                type="property_type" 
                               
                                name="property_type" 
                                id="property_type"
                                />
                        
                            </div>
                            <div class="cityField">
                                <label >City</label>
                                <input type="city" 
                                 name="city" 
                                 id="city" 
                                />
                            </div>
                            <div class="priceField">
                                <label>Price </label>
                                <input type="price"
                                 name="price" 
                                 id="price"
                                />
                            </div>
                            <div class="bedroomsField">
                                <label for="bedrooms">Bedrooms </label>
                                <input type="bedrooms"
                             
                                  name="bedrooms" 
                                  id="bedrooms" 
                                  
                                 />
                            </div>
                            <div class="bathroomsField">
                                <label>Bathrooms </label>
                                <input type="bathrooms" 
                              
                                name="bathrooms" 
                                id="bathrooms" 
                               />
                            </div>
                            <div class="squareMetersField">
                                <label>Square Meters </label>
                                <input type="square_meters"
                                 name="square_meters" 
                                 id="square_meters"
                                
                                 />
                                 
                            </div>
                            <div class="propertyImageField">
                                <label>Image </label>
                                <input type="text" 
                                name="imgProperty" 
                                id="imgProperty" 
                               
                                />
                            </div>
                            <div class="statusField">
                                <label>Status </label>
                                <input type="status" 
                         
                                name="status" 
                                id="status" 
                               
                                />
                            </div>
                            <div class="yearBuiltField">
                                <label>Year Built </label>
                                <input type="year_built"
                      
                                 name="year_built" 
                                 id="year_built" 
                                
                                />
                            </div>
                            <div class="descriptionField">
                                <label>More Details</label>
                                <textarea type="description" 
                             
                                name="description" 
                                id="description" 
                               >
                            </textarea>
                            </div>
                            <div class="createSubmit">
                            <button class="createSubmit" type="submit"
        
                                >Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
