<section id="aa-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-about-us-area">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="aa-about-us-left">
                                <img src="../../assets/img/about-us.jpg" alt="image" />
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="aa-title">
                                <h2>About Us</h2>
                                <span></span>
                            </div>
                           
                                <div *ngFor="let about of abouts " class="aa-about-us-right">
                                    <p >{{about.welcome}}</p>
                                    <h4>{{about.setsUpApart}}</h4>

                                    <div >
                                        <div class="name">{{about.name1}}</div>
                                        <div class="name">{{about.name2}}</div>
                                        <div class="name">{{about.name3}}</div>
                                        <div class="name">{{about.name4}}</div>
                                    </div>


                                </div>

                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
